@using Dominio.Models
@model Dominio.Models.UsuarioModel
@{
    ViewData["Title"] = "Criar Usuário";
}

<div class="text-center">
    <h1 class="display-4">Cadastrar Usuário</h1>
</div>

<form asp-controller="Usuario" asp-action="Criar" method="post">

    <div class="mb-3">
        <label for="Nome">Nome</label>
        <input type="text" asp-for="Nome" class="form-control" placeholder="Nome do usuário">
        @Html.ValidationMessageFor(x => x.Nome)
    </div>

    <div class="mb-3">
        <label for="email">E-mail</label>
        <input type="text" asp-for="Email" class="form-control" placeholder="Digite o e-mail do usuário">
        @Html.ValidationMessageFor(x => x.Email)
    </div>

    <div class="mb-3">
        <label for="Login">Login</label>
        <input type="text" asp-for="Login" class="form-control" placeholder="Digite o login do Usuário!">
        @Html.ValidationMessageFor(x => x.Login)
    </div> 
    
    <div class="mb-3">
        <label for="Nome">Perfil</label>        
        <select asp-for="PerfilEnum" class="form-control">
            <option value="">Selecione</option>
            <option value="@UsuariosPerfilEnum.Admin">Administrador</option>
            <option value="@UsuariosPerfilEnum.enploye">Padrão</option>
        </select>
        @Html.ValidationMessageFor(x => x.PerfilEnum)
    </div>

    <div class="mb-3">
        <label for="Senha">Senha</label>
        <input type="password" asp-for="Senha" class="form-control" placeholder="Digite a senha do Usuário!">
        @Html.ValidationMessageFor(x => x.Senha)
    </div>

    <button type="submit" class="btn btn-primary">Adicionar</button>
    <a class="btn btn-secondary" asp-controller="Usuario" asp-action="Index" role="button">Voltar</a>
</form>