@using Dominio.Models
@model List<UsuarioModel>
@{
    ViewData["Title"] = "Users List";
}

<div class="text-left">
    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-secondary" role="button" asp-controller="Usuario" asp-action="Criar">Adicionar novo usuário</a>
    </div>
    <br />
    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-secondary" role="button" target="_blank" asp-controller="Usuario" asp-action="GerarPdf">Gerar relatorio</a>
    </div>

    <br />

    @if (TempData["MensagemSucesso"] != null)
    {
        <div class="alert alert-success" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" arial-label>X</button>
            @TempData["MensagemSucesso"]
        </div>
    }

    @if (TempData["MensagemErro"] != null)
    {
        <div class="alert alert-danger" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" arial-label>X</button>
            @TempData["MensagemErro"]
        </div>
    }

    <br />

    <h1 class="display-4">Users List</h1>
    <div class="table-bordered table-responsive">

        <table class="table bg-transparent text-dark table table-bordered table-striped mb-0" cellspacing="0" style="background-color: darkblue" id="table-usuarios">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome</th>                    
                    <th scope="col">Login</th>                  
                    <th scope="col">E-mail</th>
                    <th scope="col">Perfil</th>
                    <th scope="col">Total contacts</th>
                    <th scope="col">Data de cadastro</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.Any())
                {
                    foreach (UsuarioModel usuario in Model)
                    {
                        <tr>
                            <th scope="row">@usuario.Id</th>
                            <td>@usuario.Nome</td>
                            <td>@usuario.Login</td>
                            <td>@usuario.Email</td>                           
                            <td>@(usuario.PerfilEnum == UsuariosPerfilEnum.Admin ? "Administrador" : "Padrão")</td>
                            <td>
                                <a href="#" usuario-id="@usuario.Id" class="btn btn-success btn-sm btn-total-contatos">
                                    @(usuario.Contatos != null && usuario.Contatos.Any() ? usuario.Contatos.Count() : 0)
                                    @(usuario.Bonus != null && usuario.Bonus.Any() ? usuario.Bonus.Count() : 0)
                                </a>
                            </td>
                            <th>@usuario.DataUserCreated.ToString("dd-MM-yyyy")</th>
                            <td>
                                <div class="btn-group" role="group">
                                    <a role="button" class="btn btn-secondary" asp-route-id="@usuario.Id" asp-controller="Usuario" asp-action="Editar">Editar</a><br />
                                    <a role="button" class="btn btn-danger" asp-route-id="@usuario.Id" asp-controller="Usuario" asp-action="ApagarUsuario">Apagar</a>
                                </div>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <br />
    <div id="lista-usuarios" name="lista-usuarios" class="table-bordered">
        <div class="row">
            @foreach (var usuario in Model)
            {
                <div class="col-md-3">
                    <div class="form-check">
                        <input type="checkbox" id="selecionar-@usuario.Id" name="selecionar-@usuario.Nome" value="@usuario.Id" @(usuario.Selecionado ? "checked" : "") class="form-check-input mr-2" />
                        <label class="form-check-label" for="selecionar-@usuario.Id">@usuario.Nome</label>
                    </div>
                </div>
            }
        </div>
    </div>

    <div id="modalContatosUsuario" class="modal" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Listagem de contatos</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                    <span aria-hidden="true">&times;</span>
                </div>
                <div class="modal-body">
                    <div id="listaContatosUsuario"></div>
                </div>               
            </div>
        </div>
    </div>

</div>



