@model Dominio.Models.ContatoModel
@{
    ViewData["Title"] = "Editar Contato";
}

<div class="text-center">
    <h1 class="display-4">Editar Contato</h1>
</div>

<form asp-controller="Contato" asp-action="Alterar" method="post">

    <input type="hidden" asp-for="Id" />  
    <div class="mb-3">
        <label for="Nome">Nome</label>
        <input type="text" asp-for="Nome" class="form-control" placeholder="Digite o Nome do contato">
         @Html.ValidationMessageFor(x => x.Nome)
    </div>

    <div class="mb-3">
        <label for="email">E-mail</label>
        <input type="text" asp-for="Email" class="form-control" placeholder="Digite o e-mail do contato">
         @Html.ValidationMessageFor(x => x.Email)
    </div>

    <div class="mb-3">
        <label for="Celular">Celular</label>
        <input type="text" asp-for="Celular" class="form-control" placeholder="Digite o Nº celular do contato">
         @Html.ValidationMessageFor(x => x.Celular)
    </div>

    <div class="mb-3">
        <label for="Data">Data</label>
        <input type="text" asp-for="Data" class="form-control" placeholder="Digite a data atual">
        @Html.ValidationMessageFor(x => x.Data)
    </div>

    <div class="mb-3">
        <label for="Valor">Valor</label>
        <input type="text" asp-for="Valor" class="form-control" placeholder="Digite o valor">
        @Html.ValidationMessageFor(x => x.Valor)
    </div>

    <button type="submit" class="btn btn-primary">Alterar</button>
    <a class="btn btn-secondary" asp-controller="Contato" asp-action="Index" role="button">Voltar</a>
</form>