@using Dominio.Models
@model List<ContatoModel>
@{
    ViewData["Title"] = "Contacts List";
}

<div class="text-left">
    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-secondary" role="button" asp-controller="Contato" asp-action="Criar">Adicionar novo contato</a>
    </div>
    <br />
    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-secondary" role="button" target="_blank" asp-controller="Contato" asp-action="GerarPdf">Gerar relatorio</a>
    </div>

    <br />

    @if (TempData["MensagemSucesso"] != null)
    {
        <div class="alert alert-success" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" arial-label>X</button>
            @TempData["MensagemSucesso"]
        </div>
    }

    @if (TempData["MensagemErro"] != null)
    {
        <div class="alert alert-danger" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" arial-label>X</button>
            @TempData["MensagemErro"]
        </div>
    }

    <br />

    <h1 class="display-4">Contacts List</h1>
    <div class="table-bordered table-responsive">

        <table class="table bg-transparent table-wrapper-scroll-y my-custom-scrollbar text-dark table table-bordered table-striped mb-0" cellspacing="0" style="background-color: darkblue" id="table-contatos">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome</th>
                    <th scope="col">E-mail</th>
                    <th scope="col">Celular</th>
                    <th scope="col">Data</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.Any())
                {
                    foreach (ContatoModel contato in Model)
                    {
                        <tr>
                            <th scope="row">@contato.Id</th>
                            <td>@contato.Nome</td>
                            <td>@contato.Email</td>
                            <td>@contato.Celular</td>
                            <th>@contato.Data.ToString("dd-MM-yyyy")</th>
                            <td>
                                <div class="btn-group" role="group">
                                    <a role="button" class="btn btn-secondary" asp-route-id="@contato.Id" asp-controller="Contato" asp-action="Editar">Editar</a><br />
                                    <a role="button" class="btn btn-danger" asp-route-id="@contato.Id" asp-controller="Contato" asp-action="ApagarConfirmacao">Apagar</a>
                                </div>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <br />
    <div id="lista-contatos" name="lista-contatos" class="table-bordered">
        <div class="row">
            @foreach (var contato in Model)
            {
                <div class="col-md-3">
                    <div class="form-check">
                        <input type="checkbox" id="selecionar-@contato.Id" name="selecionar-@contato.Nome" value="@contato.Id" @(contato.Selecionado ? "checked" : "") class="form-check-input mr-2" />
                        <label class="form-check-label" for="selecionar-@contato.Id">@contato.Nome</label>
                    </div>
                </div>
            }
        </div>
    </div>


</div>



